*{
    box-sizing: border-box;
    margin: 3px ;
    padding: 4px;
}

body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
    background-color:rgb(210, 168, 194);
    overflow: hidden;
}